/* 0-600px: phone
// 600-900px: tablet portrait
// 900-1200px: tablet landscape
// 1200-1800: (normal)
// 1800+: large desktop

$breakoint argument choices-
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

#align-right-override {
  text-align: right; }

.nav {
  background-color: #F37878;
  font-family: Overpass Mono;
  font-size: 2rem;
  color: #18191D;
  text-transform: uppercase;
  line-height: 1.2;
  padding: 1rem 3rem;
  display: grid;
  grid-template-columns: 6 / 1fr;
  grid-column: full-start / full-end;
  grid-auto-columns: 1fr;
  grid-column-gap: 2.5rem;
  justify-items: center;
  align-items: center; }
  @media (max-width: 56.25em) {
    .nav {
      grid-column-gap: 0; } }
  @media (max-width: 40em) {
    .nav {
      grid-column-gap: 0;
      font-size: .5rem;
      padding: 0; } }
  .nav__contact {
    grid-row: 1 / span 1;
    grid-column: 1 / 2;
    font-size: 1.8rem; }
    @media (max-width: 75em) {
      .nav__contact {
        font-size: 1.6rem; } }
    @media (max-width: 56.25em) {
      .nav__contact {
        font-size: 1.5rem;
        grid-row: 2 / span 1;
        grid-column: 2 / 3;
        justify-content: center;
        padding-top: 2rem; } }
    @media (max-width: 40em) {
      .nav__contact {
        font-size: 1.5rem;
        grid-row: 2 / span 1;
        grid-column: 1 / 3;
        justify-content: start;
        padding-top: 2rem;
        padding-left: 5rem; } }
  .nav__logo {
    grid-row: 1 / span 1;
    grid-column: 2 / span 2;
    display: flex;
    align-items: center; }
    @media (max-width: 56.25em) {
      .nav__logo {
        grid-row: 1 / 2;
        grid-column: 1 / 4; } }
    @media (max-width: 40em) {
      .nav__logo {
        grid-row: 1 / 2;
        grid-column: 1 / 5; } }
    .nav__logo--logo {
      height: 100%;
      width: 100%; }
  .nav__hours {
    grid-row: 1 / -1;
    grid-column: 4 / 5;
    font-size: 1.8rem; }
    @media (max-width: 75em) {
      .nav__hours {
        font-size: 1.6rem; } }
    @media (max-width: 56.25em) {
      .nav__hours {
        font-size: 1.5rem;
        grid-row: 2 / span 1;
        grid-column: 3 / 4;
        display: inline-block; } }
    @media (max-width: 40em) {
      .nav__hours {
        font-size: 1.5rem;
        grid-row: 2 / span 1;
        grid-column: 3 / 5;
        display: inline-block;
        grid-row: 2 / span 1;
        grid-column: 4 / 5; } }

.header {
  background-color: #F37878;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1;
  justify-items: center;
  align-items: center;
  font-family: Didact Gothic;
  font-size: 1.5rem;
  height: 120px; }
  .header--address {
    line-height: 0px; }
  .header--icon {
    height: 2rem;
    width: 2rem; }
  .header--logo {
    display: flex;
    justify-content: center;
    align-items: center; }
    .header--logo__logo {
      height: 59px;
      width: 465px; }
  .header--hours {
    font-family: 'Helvetica';
    line-height: 0px; }

.hero {
  display: flex;
  height: 100vh;
  background-image: url("../assets/img/pourover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: stretch;
  background-position: center;
  background-attachment: fixed;
  background-color: #F87779;
  justify-content: center;
  align-items: center;
  font-weight: 100;
  font-family: Didact Gothic;
  letter-spacing: 3px; }
  @media (max-width: 112.5em) {
    .hero--welcome {
      background: #222;
      color: #ECF5E5;
      font-size: 4.8rem; } }
  @media (max-width: 75em) {
    .hero--welcome {
      background-color: red;
      font-size: 4rem; } }
  @media (max-width: 56.25em) {
    .hero--welcome {
      background-color: white;
      color: black;
      font-size: 2.5rem; } }
  @media (max-width: 40em) {
    .hero--welcome {
      background-color: black;
      color: white;
      font-size: 2rem; } }

.about {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid black;
  padding: 4rem 5rem; }
  @media (max-width: 56.25em) {
    .about {
      padding: .5rem;
      display: block; } }
  @media (max-width: 40em) {
    .about {
      padding: 1rem;
      display: block; } }
  .about--logo__logo {
    height: 348px;
    width: 348px;
    margin-right: 5rem; }
    @media (max-width: 75em) {
      .about--logo__logo {
        height: 300px;
        width: 300px; } }
    @media (max-width: 56.25em) {
      .about--logo__logo {
        height: 250px;
        width: 250px;
        margin-right: 1rem; } }
    @media (max-width: 40em) {
      .about--logo__logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 200px;
        width: 200px;
        padding: 2rem; } }
  .about--text {
    font-family: Didact Gothic;
    font-size: 3rem; }
    @media (max-width: 75em) {
      .about--text {
        font-size: 2.7rem; } }
    @media (max-width: 56.25em) {
      .about--text {
        font-size: 2rem; } }
    @media (max-width: 40em) {
      .about--text {
        font-size: 1.5rem; } }

.tea {
  background-color: red;
  background-image: url(../assets/img/sqiggle.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border: 5px solid black;
  box-shadow: 5rem;
  color: #18191D;
  padding: 4rem;
  font-family: Didact Gothic;
  font-size: 3rem;
  align-content: center; }
  .tea--individual {
    height: 221px;
    width: 221px;
    margin: 2rem; }

.menu {
  background-color: #ECF5E5;
  display: grid;
  grid-column: center-start / center-end;
  padding: 10rem 7rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-row-gap: 1rem;
  grid-column-gap: 8rem; }
  @media (max-width: 56.25em) {
    .menu {
      padding: 2rem 3rem; } }
  @media (max-width: 40em) {
    .menu {
      padding: 1rem 3rem; } }
  .menu--item__section {
    font-family: 'Dense';
    text-transform: uppercase;
    color: #37E3C4;
    font-size: 7.3rem; }
    @media (max-width: 56.25em) {
      .menu--item__section {
        font-size: 5rem; } }
    @media (max-width: 40em) {
      .menu--item__section {
        font-size: 4.5rem; } }
  @media (max-width: 56.25em) {
    .menu--item__item {
      margin-bottom: 4rem; } }
  .menu--item__item--name {
    font-family: 'Dense';
    text-transform: uppercase;
    font-size: 5.3rem; }
    @media (max-width: 56.25em) {
      .menu--item__item--name {
        font-size: 4rem; } }
    @media (max-width: 40em) {
      .menu--item__item--name {
        font-size: 3.5rem; } }
  .menu--item__item--price {
    margin-left: 3.5rem;
    color: #F37878;
    font-size: 3.6rem; }
    @media (max-width: 56.25em) {
      .menu--item__item--price {
        margin-left: 1.5rem;
        font-size: 3rem; } }
    @media (max-width: 40em) {
      .menu--item__item--price {
        font-size: 2.8rem;
        margin-left: 1rem; } }
  .menu--item__item--description {
    font-family: Didact Gothic;
    font-size: 2rem;
    color: #595B58;
    padding-right: 2rem; }
    @media (max-width: 56.25em) {
      .menu--item__item--description {
        font-size: 1.6rem; } }
    @media (max-width: 40em) {
      .menu--item__item--description {
        font-size: 1.4rem; } }
  .menu--item__sweets {
    margin-top: 2rem;
    height: 300px;
    width: 300px; }
    @media (max-width: 56.25em) {
      .menu--item__sweets {
        margin-top: -2px; } }

.findus {
  background-color: #F37878;
  color: #18191D;
  background-image: url(../assets/img/fishmap.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100%;
  height: 75vh;
  font-family: Didact Gothic;
  display: flex;
  align-items: center;
  padding-left: 3rem;
  padding-right: 12rem;
  border: 5px solid #18191D; }
  @media (max-width: 75em) {
    .findus {
      padding-right: 3rem; } }
  @media (max-width: 56.25em) {
    .findus {
      padding-right: 2rem;
      display: block; } }
  @media (max-width: 40em) {
    .findus {
      padding-right: .5rem;
      padding-left: 1rem;
      display: block; } }
  .findus--map {
    padding: 8rem; }
    @media (max-width: 75em) {
      .findus--map__map {
        height: 311.2px;
        width: 400px; } }
    @media (max-width: 56.25em) {
      .findus--map__map {
        height: 252.85px;
        width: 625px; } }
    @media (max-width: 40em) {
      .findus--map__map {
        height: 155.6px;
        width: 200px; } }
  .findus--text {
    background-color: #18191D;
    padding: 2rem;
    border-radius: 5%; }
    @media (max-width: 40em) {
      .findus--text {
        padding: .5rem; } }
    .findus--text__text {
      font-size: 2.5rem;
      background-color: #18191D;
      color: #ECF5E5; }
      @media (max-width: 56.25em) {
        .findus--text__text {
          font-size: 3.2rem; } }
      @media (max-width: 40em) {
        .findus--text__text {
          font-size: 1.5rem; } }

.social {
  background-color: #18191D;
  color: #ECF5E5;
  font-size: 4.8rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Didact Gothic;
  background-image: url(../assets/img/tea2.jpg);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column; }
  .social--text {
    margin-bottom: 5rem; }
    @media (max-width: 40em) {
      .social--text {
        font-size: 2.4rem; } }
    .social--text__lets {
      font-size: 9rem; }
      @media (max-width: 56.25em) {
        .social--text__lets {
          font-size: 6rem; } }
      @media (max-width: 40em) {
        .social--text__lets {
          font-size: 4rem; } }
  .social--icons {
    display: flex;
    margin-bottom: 5rem;
    color: #ECF5E5; }
    .social--icons__icon {
      margin: 0 8rem; }
      @media (max-width: 56.25em) {
        .social--icons__icon {
          height: 96px;
          width: 96px;
          margin: 4rem; } }
      @media (max-width: 40em) {
        .social--icons__icon {
          height: 43px;
          width: 43px;
          margin: 2rem; } }

.footer {
  background-color: #F37878;
  font-family: Didact Gothic;
  font-size: 1.8rem;
  height: 13rem;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  @media (max-width: 75em) {
    .footer {
      height: 10rem; } }
  @media (max-width: 56.25em) {
    .footer {
      height: 7.5rem;
      font-size: 1.2rem; } }
  @media (max-width: 40em) {
    .footer {
      height: 5rem;
      font-size: .5rem; } }
  .footer--logo {
    height: 74px;
    width: 584px; }
    @media (max-width: 75em) {
      .footer--logo {
        height: 55.5px;
        width: 428px; } }
    @media (max-width: 56.25em) {
      .footer--logo {
        height: 48.1px;
        width: 379.6px; } }
    @media (max-width: 40em) {
      .footer--logo {
        height: 25.9px;
        width: 204.4px; } }
  @media (max-width: 40em) {
    .footer--address {
      text-transform: uppercase; } }
