/* 0-600px: phone
// 600-900px: tablet portrait
// 900-1200px: tablet landscape
// 1200-1800: (normal)
// 1800+: large desktop

$breakoint argument choices-
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 10px; }
  @media (max-width: 56.25em) {
    html {
      text-transform: uppercase; } }

body {
  box-sizing: border-box; }

.nav {
  background-color: #F37878;
  font-family: Didact Gothic;
  padding: 0, 3rem;
  display: grid;
  grid-column: full-start / full-end;
  grid-auto-columns: 1fr;
  grid-column-gap: 2.5rem;
  justify-items: center;
  align-items: center; }
  .nav__contact {
    grid-row: 1 / -1;
    grid-column: 1 / 2; }
  .nav__logo {
    grid-row: 1 / -1;
    grid-column: 2 / span 3;
    display: flex;
    justify-content: center;
    align-items: center; }
    .nav__logo--logo {
      height: 85%;
      width: 85%; }
  .nav__hours {
    grid-row: 1 / -1;
    grid-column: 5 / 6; }
  .nav__icon {
    height: 5%;
    width: 5%; }

.header {
  background-color: #F37878;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1;
  justify-items: center;
  align-items: center;
  font-family: Didact Gothic;
  font-size: 1.5rem;
  height: 120px; }
  .header--address {
    line-height: 0px; }
  .header--icon {
    height: 2rem;
    width: 2rem; }
  .header--logo {
    display: flex;
    justify-content: center;
    align-items: center; }
    .header--logo__logo {
      height: 59px;
      width: 465px; }
  .header--hours {
    font-family: 'Helvetica';
    line-height: 0px; }

.hero {
  display: flex;
  height: 115vh;
  background-image: url("../assets/img/pourover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: stretch;
  background-position: center;
  background-color: #F87779;
  justify-content: center;
  align-items: center;
  font-weight: 100;
  font-family: Didact Gothic;
  letter-spacing: 3px; }
  .hero--welcome {
    background-color: orange; }
    @media (max-width: 112.5em) {
      .hero--welcome {
        background: white; } }
    @media (max-width: 75em) {
      .hero--welcome {
        background-color: green; } }
    @media (max-width: 56.25em) {
      .hero--welcome {
        background-color: red;
        color: black;
        font-family: 'courier'; } }
    @media (max-width: 40em) {
      .hero--welcome {
        background-color: blue; } }

.about {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid black;
  padding: 4rem 5rem; }
  .about--logo__logo {
    height: 348px;
    width: 348px;
    margin-right: 10rem; }
    @media (max-width: 75em) {
      .about--logo__logo {
        border: 5px dotted black;
        height: 200px;
        width: 200px; } }
    @media (max-width: 56.25em) {
      .about--logo__logo {
        border: 5px solid red;
        height: 150px;
        width: 150px; } }
    @media (max-width: 40em) {
      .about--logo__logo {
        height: 100px;
        width: 100px; } }
  .about--text {
    font-family: Didact Gothic;
    font-size: 3.6rem; }

.menu {
  height: 100vh;
  display: grid;
  grid-column: center-start / center-end;
  padding: 10rem 5rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-row-gap: 1rem;
  grid-column-gap: 8rem;
  background-color: #F5FAF4; }
  .menu--item__section {
    font-family: 'Dense';
    text-transform: uppercase;
    color: #37E3C4;
    font-size: 7.3rem; }
  .menu--item__item--name {
    font-family: 'Dense';
    text-transform: uppercase;
    font-size: 5.3rem; }
  .menu--item__item--price {
    margin-left: 4rem;
    color: #F37878;
    font-size: 3rem; }
  .menu--item__item--description {
    font-family: Didact Gothic;
    font-size: 2rem;
    color: #595B58; }

.findus {
  background-color: #37E3C4;
  color: #18191D;
  height: 75vh;
  font-family: Didact Gothic;
  display: flex;
  align-items: center; }
  .findus--map {
    padding: 3rem; }
    @media (max-width: 40em) {
      .findus--map__map {
        height: 100px;
        width: 100px; } }
  .findus--text {
    padding: 5rem;
    padding-right: 12rem; }
    .findus--text__text {
      font-size: 2.5rem; }

.social {
  background-color: greenyellow;
  font-size: 4.8rem;
  height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Didact Gothic;
  background-image: url(../assets/img/social-min.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column; }
  .social--text {
    margin-bottom: 5rem; }
  .social--icons {
    display: flex;
    margin-bottom: 5rem; }
    .social--icons__icon {
      margin: 0 8rem; }

.footer {
  background-color: #F37878;
  font-family: Didact Gothic;
  height: 10rem;
  display: flex;
  align-items: center; }
  .footer--logo {
    height: 74px;
    width: 584px; }
  .footer--address {
    justify-items: flex-end; }
