// @import url(https://www.googletagmanager.com/gtag/js?id=UA-119772071-1);

//FONTS
// $font-primary: 'Didact Gothic', sans-serif !important;
$font-primary: 'Montserrat' !important;
$font-secondary: 'Overpass Mono', monospace !important; 


//COLORS 
$color-primary: #F37878;
$color-secondary: #37E3C4;

$color-offwhite: #ECF5E5;
$color-offblack: #18191D;

$color-white: #fff;
$color-black: #000;
$color-grey: #595B58;