//COLORS 
$color-primary: #F37878;
$color-secondary: #37E3C4;

$color-offwhite: #ECF5E5;
$color-offblack: #18191D;

$color-white: #fff;
$color-black: #000;
$color-grey: #595B58;


//FONTS
$font-primary: Didact Gothic;
$font-secondary: Overpass Mono;
$font-tertiary: Overpass Mono;