.findus {
  background-color: $color-primary;
  color: $color-offblack;
  height: 75vh;
  // font-size: 3.6rem;
  font-family: $font-primary;
  display: flex;
  align-items: center;
  padding-left: 3rem;
  padding-right: 12rem;

  @include respond(tab-port) {
    padding-right: 2rem;
  }

  @include respond(phone) {
    padding-right: .5rem;
    padding-left: 1rem;
  }

  &--map__map {
    @include respond(tab-land) {
      height: 311.2px;
      width: 400px;
    }

    @include respond(tab-port) {
      height: 252.85px;
      width: 325px;
    }

    @include respond(phone) {
      height: 155.6px;
      width: 200px;
    }
  }


  &--text {
    padding: 5rem;

    @include respond(phone) {
      padding: .5rem;
    }

    &__text {
      font-size: 2.5rem;

      @include respond(tab-port) {
        font-size: 1.8rem;
        
      }

      @include respond(phone) {
        font-size: 1rem;
      }
    }

  }
}