.footer {
  background-color: $color-primary;
  font-family: $font-primary;
  height: 10rem;
  display: flex;
  align-items: center;

  &--logo {
    height: 74px;
    width: 584px;
  }

  &--address {
    justify-items: flex-end;
    
  }
}