.gimme {
  background-color: $color-primary;
  padding: 5rem;
  display: flex; 
  justify-content: center;
  align-items: center;

  @include respond(tab-port) {
    flex-direction: column;
  }

  &--image {
    margin-bottom: -3rem;

    @include respond (tab-port) {
      width: 75%;
      height: 75%;
    }

    @include respond (phone) {
      //hm
    }
  }

  &--text {
    margin-top: 5rem;
    text-transform: uppercase;
    color: $color-offwhite;
    text-align: right;
    font-size: 8rem;
    font-family: sans-serif;

    @include respond (tab-port) {
      font-size: 8rem;
      text-align: center;
    }

    @include respond (phone) {
      font-size: 4.5rem;
    }
  }
}