.hero {
  display: flex;
  height: 100vh;
  
  background-image: url('../assets/img/pouroverMIN.jpg');
  background-size: cover;
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  background-repeat: no-repeat;
  background-size: stretch;
  background-position: center;
  background-attachment: fixed;

  background-color: #F87779;
  justify-content: center;
  align-items: center;
    
  font-weight: 100;
  font-family: $font-primary;
  letter-spacing: 3px;
  text-align: center;

  &--welcome {
    
    @include respond(laptop) {
      
      background: #222;
      color: $color-offwhite;
      font-size: 4.8rem;
    }
    
    @include respond(tab-land) {
      // background-color: red;
      font-size: 4rem;
    }
    
    @include respond(tab-port) {
      // background-color: white;
      // color: black;
      font-size: 2.5rem;
    }

    @include respond(phone) {
      // background-color: black;
      // color: white;
      font-size: 2rem;
    }
  }
}
