.partners {
  background-color: $color-offblack;
  border: 8px solid $color-offblack;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 3rem;
  padding-bottom: 3rem;


  &--img {
    text-align: center;
  }

  &--logo {
    width: 150px;
    margin: 1.5rem;
  }

  &--baba {
    height: 85px;
    margin: 1.5rem;
  }


  &--text {
    font-size: 12rem;
    font-family: Dense;
    
    text-transform: uppercase;
    text-align: center;
  }
}


