.nav {
  background-color: $color-primary;
  // height: 100px;
  font-family: $font-primary;
  padding: 0, 3rem;

  display: grid;
  grid-column: full-start / full-end;
  grid-auto-columns: 1fr;
  grid-column-gap: 2.5rem;
  justify-items: center;
  align-items: center;

  &__contact {
      grid-row: 1 / -1;
      grid-column: 1 / 2;
  }

  &__logo {
      grid-row: 1 / -1;
      grid-column: 2 / span 3;

      display: flex;
      justify-content: center;
      align-items: center;

      &--logo {
        height: 85%;
        width: 85%;
      }
  }

  &__hours {
      grid-row: 1 / -1;
      grid-column: 5 / 6;
  }

  &__icon {
    height: 5%;
    width: 5%;
  }
}